<head>
    <title>app-wall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{> header}} 
        {{> loginButtons}} 
        {{#if currentUser}} 
        {{> form}} 
        {{> posts}} 
        {{/if}}
    </div>
</body>