<template name="header">
    <header>
        <h1 class="center-align">App-Wall</h1>
    </header>
</template>


<template name="form">
    <form class="add-new-post" action="#">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class="input-field col s6">
            <input id="message" type="text" class="validate">
            <label class="active" for="message">Message</label>
        </div>
        <div class="center-button">
        <button class="waves-effect waves-light btn">Post</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postsList}}
        <div class="grid-item ">
            {{updateMasonry}} 
            <img src="{{imageIs this.imageId}}">
            {{username}}
            <br> {{message}}
            <br> {{createdAt}}
        </div>
        {{/each}}
    </div>
</template>