 * {
     text-align: center;
     align-content: center; 
 }
 
 .grid-sizer,
 .grid-item {
     width: 26%;
 }
 
 .grid-item img {
     display: block;
     max-width: 100%;
 }
 
 .center-button {
     text-align: center;
 }
 
 .input-field {
     margin: 0 auto;
     width: 75%;
 }